* {
    box-sizing: box-model;
    font: 1.5rem 'Futura';
  }
  
  body {
     background: #222;
  }
  
  .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .link {
    text-decoration: none;
    color: white;
    background: linear-gradient(120deg, transparent 0%, transparent 50%, yellowgreen 50%);
    background-size: 220%;
    padding: 0.7rem 2rem;
    border-radius: 1rem;
    transition: 0.7s all;
    background-position: 0;
    display: inline-block;
  }
  
  .link:hover {
    background-position: 100%;
    transform: translateX(-1rem);
    color: black;
  }
  
  .list {
    list-style: none;
  }
  
  .number {
    margin-right: 1rem;
  }